<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>越光宝盒</string>
		<key>icon</key>
		<string>movie_ygbh</string>
		<key>title</key>
		<string>恶搞风格的喜剧大片</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>飞</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>超</string>
			<string>传</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>队</string>
			<string>赤</string>
			<string>光</string>
			<string>人</string>
			<string>壁</string>
			<string>盒</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国合伙人</string>
		<key>icon</key>
		<string>movie_zghhr</string>
		<key>title</key>
		<string>创业励志电影</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>中</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>宝</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>小泽玛丽王</string>
		<key>icon</key>
		<string>people_xzmlw</string>
		<key>title</key>
		<string>演员、翻墙高手</string>
		<key>options</key>
		<array>
			<string>隔</string>
			<string>老</string>
			<string>玛</string>
			<string>泽</string>
			<string>黄</string>
			<string>井</string>
			<string>王</string>
			<string>黄</string>
			<string>飞</string>
			<string>壁</string>
			<string>鸿</string>
			<string>丽</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>苍</string>
			<string>依</string>
			<string>亚</string>
			<string>的</string>
			<string>晨</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>帅哥</string>
		<key>icon</key>
		<string>people_sg</string>
		<key>title</key>
		<string>诗人、学者、民主战士</string>
		<key>options</key>
		<array>
			<string>曾</string>
			<string>丹</string>
			<string>飞</string>
			<string>吕</string>
			<string>帅</string>
			<string>贤</string>
			<string>黄</string>
			<string>小</string>
			<string>鸿</string>
			<string>哥</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>线人</string>
		<key>icon</key>
		<string>movie_xr</string>
		<key>title</key>
		<string>谢霆锋主演的悬疑犯罪片</string>
		<key>options</key>
		<array>
			<string>超</string>
			<string>窃</string>
			<string>黄</string>
			<string>无</string>
			<string>间</string>
			<string>鸿</string>
			<string>笑</string>
			<string>火</string>
			<string>传</string>
			<string>道</string>
			<string>听</string>
			<string>线</string>
			<string>风</string>
			<string>云</string>
			<string>越</string>
			<string>人</string>
			<string>狱</string>
			<string>索</string>
			<string>飞</string>
			<string>人</string>
			<string>导</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>林俊杰</string>
		<key>icon</key>
		<string>people_linjunjie</string>
		<key>title</key>
		<string>著名歌手</string>
		<key>options</key>
		<array>
			<string>宝</string>
			<string>炫</string>
			<string>杰</string>
			<string>岳</string>
			<string>伦</string>
			<string>志</string>
			<string>俊</string>
			<string>震</string>
			<string>汪</string>
			<string>张</string>
			<string>沙</string>
			<string>庾</string>
			<string>澄</string>
			<string>亮</string>
			<string>周</string>
			<string>庆</string>
			<string>城</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>谭咏麟</string>
		<key>icon</key>
		<string>people_tanyonglin</string>
		<key>title</key>
		<string>香港演员、歌手</string>
		<key>options</key>
		<array>
			<string>栋</string>
			<string>林</string>
			<string>杰</string>
			<string>汪</string>
			<string>张</string>
			<string>炫</string>
			<string>麟</string>
			<string>咏</string>
			<string>校</string>
			<string>东</string>
			<string>张</string>
			<string>震</string>
			<string>城</string>
			<string>志</string>
			<string>伦</string>
			<string>谭</string>
			<string>长</string>
			<string>亮</string>
			<string>岳</string>
			<string>梁</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>刘德华</string>
		<key>icon</key>
		<string>people_liudehua</string>
		<key>title</key>
		<string>香港演员、歌手</string>
		<key>options</key>
		<array>
			<string>德</string>
			<string>荣</string>
			<string>林</string>
			<string>国</string>
			<string>友</string>
			<string>杰</string>
			<string>华</string>
			<string>刘</string>
			<string>张</string>
			<string>学</string>
			<string>志</string>
			<string>伦</string>
			<string>咏</string>
			<string>炫</string>
			<string>富</string>
			<string>郭</string>
			<string>城</string>
			<string>麟</string>
			<string>谭</string>
			<string>周</string>
			<string>张</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>王心凌</string>
		<key>icon</key>
		<string>people_wangxinling</string>
		<key>title</key>
		<string>台湾演员、歌手</string>
		<key>options</key>
		<array>
			<string>少</string>
			<string>王</string>
			<string>凌</string>
			<string>依</string>
			<string>泽</string>
			<string>亚</string>
			<string>岛</string>
			<string>林</string>
			<string>依</string>
			<string>松</string>
			<string>心</string>
			<string>枫</string>
			<string>利</string>
			<string>小</string>
			<string>蔡</string>
			<string>曹</string>
			<string>颖</string>
			<string>林</string>
			<string>玛</string>
			<string>晨</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>教父</string>
		<key>icon</key>
		<string>movie_jf</string>
		<key>title</key>
		<string>黑社会大片</string>
		<key>options</key>
		<array>
			<string>江</string>
			<string>亡</string>
			<string>虎</string>
			<string>龙</string>
			<string>出</string>
			<string>游</string>
			<string>会</string>
			<string>猛</string>
			<string>更</string>
			<string>戏</string>
			<string>父</string>
			<string>黑</string>
			<string>特</string>
			<string>死</string>
			<string>老</string>
			<string>社</string>
			<string>教</string>
			<string>过</string>
			<string>惑</string>
			<string>古</string>
			<string>仔</string>
		</array>
	</dict>
</array>
</plist>
