<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>gwc</string>
			<key>title</key>
			<string>购物车</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wddd</string>
			<key>title</key>
			<string>我的订单</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>thsh</string>
			<key>title</key>
			<string>退换/售后</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>wdsm</string>
			<key>title</key>
			<string>我的售卖</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>wdsp</string>
			<key>title</key>
			<string>我的视频</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wdyj</string>
			<key>title</key>
			<string>我的游记</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>cgx</string>
			<key>title</key>
			<string>草稿箱</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>wdqb</string>
			<key>title</key>
			<string>我的钱包</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wdq</string>
			<key>title</key>
			<string>我的劵</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>smrz</string>
			<key>title</key>
			<string>实名认证</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sz</string>
			<key>title</key>
			<string>设置</string>
		</dict>
	</array>
</array>
</plist>
