<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lable</key>
		<string>4399小游戏</string>
	</dict>
	<dict>
		<key>lable</key>
		<string>爱奇艺高清</string>
	</dict>
	<dict>
		<key>lable</key>
		<string>QQ空间</string>
	</dict>
	<dict>
		<key>lable</key>
		<string>新浪新闻</string>
	</dict>
	<dict>
		<key>lable</key>
		<string>腾讯新闻</string>
	</dict>
</array>
</plist>
