<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQCalendarViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95566B0B1D6C0FA40001318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95566B241D6C0FA50001318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95566B2F1D6C0FA50001318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
