<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Menucell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E842F1A1E5BE388005CD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E842F331E5BE388005CD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E842F3E1E5BE388005CD43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
