<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>0.jpg</string>
				<key>intro</key>
				<string>伟阁</string>
				<key>name</key>
				<string>伟阁</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.jpg</string>
				<key>intro</key>
				<string>燕阁</string>
				<key>name</key>
				<string>燕阁</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>家人</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>5.jpg</string>
				<key>intro</key>
				<string>德树</string>
				<key>name</key>
				<string>德树</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6.jpg</string>
				<key>intro</key>
				<string>小敏</string>
				<key>name</key>
				<string>小敏</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>7.jpg</string>
				<key>intro</key>
				<string>全昭</string>
				<key>name</key>
				<string>全昭</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>初中</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>中举</string>
				<key>name</key>
				<string>中举</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>帅辉</string>
				<key>name</key>
				<string>帅辉</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>高中</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>10.jpg</string>
				<key>intro</key>
				<string>豪阁</string>
				<key>name</key>
				<string>豪阁</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>占阁</string>
				<key>name</key>
				<string>占阁</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>12.jpg</string>
				<key>intro</key>
				<string>亚波</string>
				<key>name</key>
				<string>亚波</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<string>2</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>他爹</string>
				<key>name</key>
				<string>他爹</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>他妈</string>
				<key>name</key>
				<string>他妈</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇葩</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>15.jpg</string>
				<key>intro</key>
				<string>显新</string>
				<key>name</key>
				<string>显新</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>16.jpg</string>
				<key>intro</key>
				<string>李鹏</string>
				<key>name</key>
				<string>李鹏</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>17.jpg</string>
				<key>intro</key>
				<string>春辉</string>
				<key>name</key>
				<string>春辉</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>18.jpg</string>
				<key>intro</key>
				<string>圣杰</string>
				<key>name</key>
				<string>圣杰</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>19.jpg</string>
				<key>intro</key>
				<string>张浩</string>
				<key>name</key>
				<string>张浩</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>同事</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>20.jpg</string>
				<key>intro</key>
				<string>陌生人1</string>
				<key>name</key>
				<string>陌生人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>21.jpg</string>
				<key>intro</key>
				<string>陌生人2</string>
				<key>name</key>
				<string>陌生人2</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>22.jpg</string>
				<key>intro</key>
				<string>陌生人3</string>
				<key>name</key>
				<string>陌生人3</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>23.jpg</string>
				<key>intro</key>
				<string>陌生人3</string>
				<key>name</key>
				<string>陌生人3</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>陌生人</string>
		<key>online</key>
		<string>4</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>0.jpg</string>
				<key>intro</key>
				<string>伟阁</string>
				<key>name</key>
				<string>伟阁</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.jpg</string>
				<key>intro</key>
				<string>燕阁</string>
				<key>name</key>
				<string>燕阁</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>家人</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>5.jpg</string>
				<key>intro</key>
				<string>德树</string>
				<key>name</key>
				<string>德树</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6.jpg</string>
				<key>intro</key>
				<string>小敏</string>
				<key>name</key>
				<string>小敏</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>7.jpg</string>
				<key>intro</key>
				<string>全昭</string>
				<key>name</key>
				<string>全昭</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>初中</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>中举</string>
				<key>name</key>
				<string>中举</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>帅辉</string>
				<key>name</key>
				<string>帅辉</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>高中</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>10.jpg</string>
				<key>intro</key>
				<string>豪阁</string>
				<key>name</key>
				<string>豪阁</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>占阁</string>
				<key>name</key>
				<string>占阁</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>12.jpg</string>
				<key>intro</key>
				<string>亚波</string>
				<key>name</key>
				<string>亚波</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<string>2</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>他爹</string>
				<key>name</key>
				<string>他爹</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>他妈</string>
				<key>name</key>
				<string>他妈</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>奇葩</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>15.jpg</string>
				<key>intro</key>
				<string>显新</string>
				<key>name</key>
				<string>显新</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>16.jpg</string>
				<key>intro</key>
				<string>李鹏</string>
				<key>name</key>
				<string>李鹏</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>17.jpg</string>
				<key>intro</key>
				<string>春辉</string>
				<key>name</key>
				<string>春辉</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>18.jpg</string>
				<key>intro</key>
				<string>圣杰</string>
				<key>name</key>
				<string>圣杰</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>19.jpg</string>
				<key>intro</key>
				<string>张浩</string>
				<key>name</key>
				<string>张浩</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>同事</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>20.jpg</string>
				<key>intro</key>
				<string>陌生人1</string>
				<key>name</key>
				<string>陌生人1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>21.jpg</string>
				<key>intro</key>
				<string>陌生人2</string>
				<key>name</key>
				<string>陌生人2</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>22.jpg</string>
				<key>intro</key>
				<string>陌生人3</string>
				<key>name</key>
				<string>陌生人3</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>23.jpg</string>
				<key>intro</key>
				<string>陌生人3</string>
				<key>name</key>
				<string>陌生人3</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>陌生人</string>
		<key>online</key>
		<string>4</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>0.jpg</string>
				<key>intro</key>
				<string>伟阁</string>
				<key>name</key>
				<string>伟阁</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.jpg</string>
				<key>intro</key>
				<string>燕阁</string>
				<key>name</key>
				<string>燕阁</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>家人</string>
		<key>online</key>
		<string>0</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>梦醒</string>
				<key>name</key>
				<string>梦醒</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>飞翔</string>
				<key>name</key>
				<string>飞翔</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4.jpg</string>
				<key>intro</key>
				<string>红举</string>
				<key>name</key>
				<string>红举</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<string>1</string>
	</dict>
</array>
</plist>
