<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>我的界面我的收藏图标</string>
		<key>title</key>
		<string>我的收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>我的界面意见反馈图标</string>
		<key>title</key>
		<string>意见反馈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>我的界面关于我们图标</string>
		<key>title</key>
		<string>关于我们</string>
	</dict>
	<dict>
		<key>image</key>
		<string>我的界面客服热线图标</string>
		<key>title</key>
		<string>客服热线</string>
	</dict>
	<dict>
		<key>image</key>
		<string>我的界面我的优惠券图标</string>
		<key>title</key>
		<string>我的优惠卷</string>
	</dict>
	<dict>
		<key>image</key>
		<string>我的界面邀请好友图标</string>
		<key>title</key>
		<string>邀请好友，立刻赚钱</string>
	</dict>
</array>
</plist>
