<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_07.mp4</string>
		<key>name</key>
		<string>小时代7</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_08.mp4</string>
		<key>name</key>
		<string>小时代88</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_09.mp4</string>
		<key>name</key>
		<string>小时代999</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
		<key>name</key>
		<string>新娘大作战</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_02.mp4</string>
		<key>name</key>
		<string>大宅男</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_03.mp4</string>
		<key>name</key>
		<string>侏罗纪世界</string>
	</dict>
</array>
</plist>
