<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageCropper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1859A63C1E1B6BEC00360130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1859A6551E1B6BED00360130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1859A6601E1B6BED00360130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
