<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>shopId</key>
			<string>0001</string>
			<key>shopName</key>
			<string>李宁官方旗舰店（五道口店）</string>
			<key>isSelected</key>
			<string>0</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>1</string>
					<key>goodsName</key>
					<string>运动鞋</string>
					<key>price</key>
					<string>300</string>
					<key>imageUrl</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1512712872510&amp;di=ee387dee75e88d5afb87cd691d678f32&amp;imgtype=0&amp;src=http%3A%2F%2Fimages.s.cn%2Fimages%2Fgoods%2F20150211%2Fe0041f631d2ff58a.jpg</string>
				</dict>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>2</string>
					<key>goodsName</key>
					<string>运动套装</string>
					<key>price</key>
					<string>800</string>
					<key>imageUrl</key>
					<string>https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2085243547,1406828788&amp;fm=27&amp;gp=0.jpg</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopId</key>
			<string>0002</string>
			<key>shopName</key>
			<string>安踏官方旗舰店（国贸店）</string>
			<key>isSelected</key>
			<string>0</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>1</string>
					<key>goodsName</key>
					<string>网球拍</string>
					<key>price</key>
					<string>899</string>
					<key>imageUrl</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>1</string>
					<key>goodsName</key>
					<string>球衣</string>
					<key>price</key>
					<string>88.9</string>
					<key>imageUrl</key>
					<string></string>
				</dict>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>2</string>
					<key>goodsName</key>
					<string>球鞋</string>
					<key>price</key>
					<string>900</string>
					<key>imageUrl</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>shopId</key>
			<string>0003</string>
			<key>shopName</key>
			<string>嘟嘟品牌（望京店）</string>
			<key>isSelected</key>
			<string>0</string>
			<key>goods</key>
			<array>
				<dict>
					<key>goodsId</key>
					<string>4aea47a653a2c7bc0153a2cdca690003</string>
					<key>isSelected</key>
					<string>0</string>
					<key>count</key>
					<string>1</string>
					<key>goodsName</key>
					<string>健身跳绳</string>
					<key>price</key>
					<string>38</string>
					<key>imageUrl</key>
					<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1512713237058&amp;di=a73f4fbdd51ee9ed2fa4fa4d89270bd0&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.11665.com%2Fimg04_p%2Fi4%2F12181028401852568%2FT1badkXrleXXXXXXXX_%2521%25210-item_pic.jpg</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
