<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>计算文本的文字的宽高.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1BEAD0E1CC777CF007D2A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1BEAD271CC777CF007D2A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1BEAD321CC777CF007D2A05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
