<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTMLDescription.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A086E161F67AE1600D65D76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A086E2F1F67AE1700D65D76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A086E3A1F67AE1700D65D76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
