<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>book_0</string>
		<key>name</key>
		<string>小王子</string>
		<key>author</key>
		<string>安托万·德·圣埃克苏佩里</string>
		<key>price</key>
		<string>19.20</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_1</string>
		<key>name</key>
		<string>浮生六记</string>
		<key>author</key>
		<string>沈复[清]</string>
		<key>price</key>
		<string>20.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_2</string>
		<key>name</key>
		<string>不忘初心，方得始终</string>
		<key>author</key>
		<string>凌茜</string>
		<key>price</key>
		<string>22.60</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_3</string>
		<key>name</key>
		<string>百年孤独</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>24.50</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_4</string>
		<key>name</key>
		<string>活着为了讲述</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>34.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_5</string>
		<key>name</key>
		<string>爱情和其他魔鬼</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>25.20</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_6</string>
		<key>name</key>
		<string>没有人给他写信的上校</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>14.60</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_7</string>
		<key>name</key>
		<string>苦妓回忆录</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>18.10</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_8</string>
		<key>name</key>
		<string>梦中的欢快葬礼和十二个异乡故事</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>25.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_9</string>
		<key>name</key>
		<string>礼拜二午睡时刻</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>22.10</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_10</string>
		<key>name</key>
		<string>霍乱时期的爱情</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>34.20</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_11</string>
		<key>name</key>
		<string>族长的秋天</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>30.40</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_12</string>
		<key>name</key>
		<string>迷宫中的将军</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>28.60</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_13</string>
		<key>name</key>
		<string>恶时辰</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>21.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_14</string>
		<key>name</key>
		<string>一桩事先张扬的凶杀案</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>18.80</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_15</string>
		<key>name</key>
		<string>枯枝败叶</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>18.80</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_16</string>
		<key>name</key>
		<string>世上最美的溺水者</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>25.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_17</string>
		<key>name</key>
		<string>蓝狗的眼睛</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>25.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_18</string>
		<key>name</key>
		<string>我不是来演讲的</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>20.50</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_19</string>
		<key>name</key>
		<string>番石榴飘香</string>
		<key>author</key>
		<string>加西亚·马尔克斯</string>
		<key>price</key>
		<string>23.10</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_20</string>
		<key>name</key>
		<string>我们仨</string>
		<key>author</key>
		<string>杨绛</string>
		<key>price</key>
		<string>23.20</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_21</string>
		<key>name</key>
		<string>干校六记</string>
		<key>author</key>
		<string>杨绛</string>
		<key>price</key>
		<string>19.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_22</string>
		<key>name</key>
		<string>追风筝的人</string>
		<key>author</key>
		<string>卡勒德·胡赛尼</string>
		<key>price</key>
		<string>17.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_23</string>
		<key>name</key>
		<string>灿烂千阳</string>
		<key>author</key>
		<string>卡勒德·胡赛尼</string>
		<key>price</key>
		<string>19.60</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_24</string>
		<key>name</key>
		<string>群山回唱</string>
		<key>author</key>
		<string>卡勒德·胡赛尼</string>
		<key>price</key>
		<string>25.60</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_25</string>
		<key>name</key>
		<string>计算机程序设计艺术（卷1）：基本算法（第3版）</string>
		<key>author</key>
		<string>高德纳（Donald，E.，Knuth）</string>
		<key>price</key>
		<string>156.40</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_26</string>
		<key>name</key>
		<string>计算机程序设计艺术 卷2 半数值算法（第3版）</string>
		<key>author</key>
		<string>高德纳（Donald，E.，Knuth）</string>
		<key>price</key>
		<string>156.40</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_27</string>
		<key>name</key>
		<string>计算机程序设计艺术 卷3 排序与查找（第2版）</string>
		<key>author</key>
		<string>高德纳（Donald，E.，Knuth）</string>
		<key>price</key>
		<string>156.40</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_28</string>
		<key>name</key>
		<string>传家：中国人的生活智慧（增订版 套装共4册）</string>
		<key>author</key>
		<string>姚任祥</string>
		<key>price</key>
		<string>353.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_29</string>
		<key>name</key>
		<string>肖申克的救赎（修订版）</string>
		<key>author</key>
		<string>斯蒂芬·金</string>
		<key>price</key>
		<string>24.80</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_30</string>
		<key>name</key>
		<string>无夜边境</string>
		<key>author</key>
		<string>田浩</string>
		<key>price</key>
		<string>30.00</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_31</string>
		<key>name</key>
		<string>霍比特人（精装插图本）</string>
		<key>author</key>
		<string>J.R.R.托尔金 </string>
		<key>price</key>
		<string>46.30</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_32</string>
		<key>name</key>
		<string>冰与火之歌: 纪念版【卷一】权力的游戏</string>
		<key>author</key>
		<string>乔治·R.R.马丁</string>
		<key>price</key>
		<string>92.8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_33</string>
		<key>name</key>
		<string>冰与火之歌: 纪念版【卷二】列王的纷争</string>
		<key>author</key>
		<string>乔治·R.R.马丁</string>
		<key>price</key>
		<string>96.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_34</string>
		<key>name</key>
		<string>冰与火之歌: 纪念版【卷三】冰雨的风暴</string>
		<key>author</key>
		<string>乔治·R.R.马丁</string>
		<key>price</key>
		<string>122.20</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_35</string>
		<key>name</key>
		<string>冰与火之歌: 纪念版【卷四】群鸦的盛宴</string>
		<key>author</key>
		<string>乔治·R.R.马丁</string>
		<key>price</key>
		<string>96.70</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>book_36</string>
		<key>name</key>
		<string>冰与火之歌: 纪念版【卷五】魔龙的狂舞</string>
		<key>author</key>
		<string>乔治·R.R.马丁</string>
		<key>price</key>
		<string>122.20</string>
	</dict>
</array>
</plist>
