Objective-C.gitignore
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Obj-C/Swift specific
*.hmap
*.ipa
.DS_Store
*/.DS_Store
