html { background-clip: border-box; background-color: transparent; background-color:#F2F3ED; background-origin: padding-box; background-position: 0 0; background-size: 83px 83px }
* { -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:none; }
body { font:15px/1.2 Monaco, tahoma, arial, \5b8b\4f53, sans-serif; }
section, header, nav, article, aside { display:block; margin:0; padding:0; }
body, div, dd, dl, ul, li, h2, p, dl, dt, dd { margin:0; padding:0; }
h2 { font-size:100%; font-weight:normal; }
em { font-style:normal; font-weight:400; }
a { text-decoration:none; }

.red { color:#a30d0d; }
.blue { color:#0d53b1; }

#scroller { padding:10px; line-height:25px; }
.dline { border-bottom:1px solid #C2C0A8; border-top:1px solid #ffffff; }
#scroller p { text-shadow:0 1px 0 #fff; text-shadow:0 1px 0 #fff; display:block; clear:both; }

table { width:100%; text-align:center; border-collapse:collapse; margin:5px 0; }
table tr th, table tr td { height:20px; line-height:20px; border:1px solid #000000; }
.r-ball, .b-ball { display:inline-block; width:10px; height:10px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 3px 0 0;}
.r-ball { background-color:#a30d0d; }
.b-ball { background-color:#0d53b1; }

.pad1{padding:0 0 0 80px; }
.pad2{padding:10px 0 0;}

.conInfo dl dt, .dlInfo dt{color:#a30d0d; padding:0 0 5px 0;}
.conInfo dl dd, .dlInfo dd{ padding:0 0 5px 17px;}
.conInfo{ padding:5px 0; line-height:22px;}

#scroller p strong{ display:inline-block;}

.dlTit { line-height:22px;}
.dlTit dt{ font-weight:bold;float:left; }
.dlTit dd{ padding:0 0 0 80px}

/*.dlTit{ clear:both; display:block; zoom:1; }

.dlTit:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:"\20 ";
	clear:both;
	height:0;
}*/