<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>menu_icon_home_selected</string>
		<key>name</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>我的订单</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>常用乘车人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>我的行程</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>分享</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>购票规则</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>免责声明</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>客服电话</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>关于我们</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>menu_icon_default</string>
		<key>name</key>
		<string>使用说明</string>
	</dict>
</array>
</plist>
