<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userActivityURL</key>
	<string>activityAction!showActivityByUserId</string>
	<key>allActivityURL</key>
	<string>activityAction!showNewActivity</string>
	<key>newActivityURL</key>
	<string>activityAction!createActivity</string>
	<key>registerURL</key>
	<string>userAction!register</string>
	<key>loginURL</key>
	<string>userAction!login</string>
	<key>baseIp</key>
	<string>http://localhost:8080/LeYou/</string>
	<key>studioAllStateURL</key>
	<string>hallAction!showNewMicroBlog</string>
</dict>
</plist>
