<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - SportFormWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SportFormWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SportForum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5335006B194585EA00FACE29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53350086194585EA00FACE29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A5A1A0B197CC2C900C0DE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8972021BCDF57600AE1EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A89720E1BCDF57600AE1EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
