<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>way</key>
			<string>这是一颗美丽的星球，点击关闭一切都平静了</string>
			<key>hard</key>
			<integer>1</integer>
			<key>title</key>
			<string>平静的宇宙</string>
			<key>image</key>
			<string>wall1</string>
		</dict>
		<dict>
			<key>way</key>
			<string>快速计算出星球的质量，让它停止疯狂的旋转！</string>
			<key>hard</key>
			<integer>2</integer>
			<key>title</key>
			<string>质量计算器</string>
			<key>image</key>
			<string>wall2</string>
		</dict>
		<dict>
			<key>way</key>
			<string>用力摇晃手机燃料达到最满, 飞向未知宇宙, 浩瀚无浪！</string>
			<key>hard</key>
			<integer>3</integer>
			<key>title</key>
			<string>火箭发射器</string>
			<key>image</key>
			<string>wall3</string>
		</dict>
		<dict>
			<key>way</key>
			<string>这些任务都难不倒你了， 请露出你的笑容飞向宇宙吧！ 五秒倒计时！ 预备开始！</string>
			<key>hard</key>
			<integer>4</integer>
			<key>title</key>
			<string>宇航员的微笑</string>
			<key>image</key>
			<string>wall4</string>
		</dict>
	</array>
</dict>
</plist>
