<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_shiti</string>
		<key>title</key>
		<string>查试题</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_yingyong</string>
		<key>title</key>
		<string>应用汇</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_pvideo</string>
		<key>title</key>
		<string>微视频</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_xunlian</string>
		<key>title</key>
		<string>做训练</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_shijuan</string>
		<key>title</key>
		<string>看试卷</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_discussion</string>
		<key>title</key>
		<string>爱问答</string>
	</dict>
</array>
</plist>
