<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaobaoTabbar_OC_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D01D77C61E76BF370056C3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D01D77DF1E76BF370056C3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D01D77EA1E76BF370056C3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
