<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NAME</key>
		<string>Item0</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>王明强</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>吕春丽</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>李正江</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>季伟仲</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>刘玉忠</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>冯文慧</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>杨永宏</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>欧阳继胜</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item1</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>叶林涛</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>赵亚鹏</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>童大文</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>林力</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>苏琳</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>陈晓英</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>杨懿</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>黄雪花</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>李小琴</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item2</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>杨仕勇</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>孟超</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>郭艳</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item3</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>李智</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>夏寅</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>朱俊锋</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>安莎</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item4</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>马兰</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>朱国群</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>黄芳</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>徐雪情</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item5</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>徐频</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>汪林</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>王晓红</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item6</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>温学梅</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>尹怀光</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>田静</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item7</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>陈成斌</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>马李娜</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>曾少军</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>王继涛</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item8</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>刘冬</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>谢冬菊</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>何小川</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>郑飞</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string>Item9</string>
		<key>USERS</key>
		<array>
			<dict>
				<key>PERSONNAME</key>
				<string>郑文胜</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>李艳</string>
			</dict>
			<dict>
				<key>PERSONNAME</key>
				<string>贾耀明</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
