<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
		<key>title</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
		<key>title</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
		<key>title</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_shoppingCategory.png</string>
		<key>title</key>
		<string>优惠买单</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_foottreatCategory.png</string>
		<key>title</key>
		<string>足疗按摩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_entertainmentCategory.png</string>
		<key>title</key>
		<string>休闲娱乐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
		<key>title</key>
		<string>预订早餐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
		<key>title</key>
		<string>美食</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
		<key>title</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
		<key>title</key>
		<string>酒店</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
		<key>title</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_shoppingCategory.png</string>
		<key>title</key>
		<string>优惠买单</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_foottreatCategory.png</string>
		<key>title</key>
		<string>足疗按摩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_entertainmentCategory.png</string>
		<key>title</key>
		<string>休闲娱乐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
		<key>title</key>
		<string>预订早餐</string>
	</dict>
</array>
</plist>
