<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>月老，又称月下老人、月下老儿，是中国民间传说中主管婚姻的红喜神，也就是媒神。人们都期盼着能够遇到自己心中的另一半，祈求月老赐予姻缘。</string>
	<string>地藏菩萨梵名乞叉底鹐沙(Ksitigarbha)。据《地藏十轮经》讲，由于此菩萨“安忍不动如大地，静虑深密如秘藏”，所以称为地藏。地藏菩萨昔于忉利天宫，受释迦世尊嘱咐，于释迦寂灭以后，未来佛弥勒未生之前，在这个过渡时期中，负责度化娑婆世界众生。</string>
	<string>普贤菩萨 (梵文 Samantabhadra)，音译为三曼多跋陀罗，意思是具足无量大行、弘深誓愿，示现于一切诸佛刹土。大乘佛教的四大菩萨之一，象征着理德、行德，与象征着智德、正德的文殊菩萨相对应，同为释迦牟尼佛的左、右胁侍。此外，毗卢遮那如来、文殊菩萨、普贤菩萨被尊称为“华严三圣”。</string>
	<string>关公被奉为“忠义神武灵佑仁勇威显关圣大帝”，勇猛无敌，专杀一切牛鬼蛇神。</string>
	<string>观世音菩萨是佛教中慈悲和智慧的象征，无论在大乘佛教还是在民间信仰，都具有极其重要的地位。以观世音菩萨为主导的大慈悲精神，被视为大乘佛教的根本。他是西方三圣中的一尊，也是一生补处的法身大士，是继承阿弥陀佛位的菩萨，而且还有说观世音就是阿弥陀佛的化身。</string>
	<string>释迦摩尼，又名释迦牟尼（公元前565年～公元前486年），古印度北部迦毗罗卫国（今尼泊尔境内）的王子，属刹帝利种姓，其是佛教的开启者。据佛经记载，释迦牟尼在29岁时（或19岁），有感于人世生、老、病、死等诸多苦恼，舍弃王族生活，出家修行。35岁时，他以超凡的悟性在菩提树下大彻大悟，遂开启佛教，随即在印度北部、中部恒河流域一带传教。年80在拘尸那迦城示现涅磐。因父为释迦族，成道后被尊称为释迦牟尼，也就是“释迦族的圣人”的意思。</string>
	<string>“财神”在中国人的心目中，是一个生财聚财的神仙。人们都向往着能过上好日子，祈求财神赐福于己。</string>
	<string>弥勒佛（梵文Maitreya，巴利文Metteyya），意译为慈氏，音译为梅呾利耶，在大乘佛教经典中，常被称为阿逸多菩萨摩诃萨，是世尊释迦牟尼的继任者，未来将在娑婆世界降生修道，成为娑婆世界的下一尊佛，即贤劫千佛中第五尊佛，常被称为“当来下生弥勒尊佛”。被唯识学派奉为鼻祖，其庞大思想体系由无著菩萨、世亲菩萨阐释弘扬，深受中国大乘佛教大师支谦、道安和玄奘的推崇。</string>
</array>
</plist>
