<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1834BFCF1C34C9FF00607053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1834BFEB1C34CA0000607053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1834BFF61C34CA0000607053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
