<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>菜单栏限时特卖按钮未选中状态</string>
		<key>selectImage</key>
		<string>菜单栏限时特卖按钮选中状态</string>
		<key>viewController</key>
		<string>SXTTimeViewController</string>
		<key>title</key>
		<string>限时购</string>
	</dict>
	<dict>
		<key>image</key>
		<string>菜单栏分类按钮未选中状态</string>
		<key>selectImage</key>
		<string>菜单栏分类按钮选中状态</string>
		<key>viewController</key>
		<string>SXTClassViewController</string>
		<key>title</key>
		<string>分类</string>
	</dict>
	<dict>
		<key>image</key>
		<string>菜单栏购物车按钮未选中状态</string>
		<key>selectImage</key>
		<string>菜单栏购物车按钮选中状态</string>
		<key>viewController</key>
		<string>SXTBuyCarViewController</string>
		<key>title</key>
		<string>购物车</string>
	</dict>
	<dict>
		<key>image</key>
		<string>菜单栏我的按钮未选中状态</string>
		<key>selectImage</key>
		<string>菜单栏我的按钮选中状态</string>
		<key>viewController</key>
		<string>SXTMyViewController</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
