<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JGTaoBaoShopping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6342A27F1E7A7C2D00E9D422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6342A2981E7A7C2D00E9D422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6342A2A31E7A7C2D00E9D422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
